/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the whole page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.container-fluid {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.app {
    padding: 20px 0;
}

/* Styling for rate */
.conversion-ratio {
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    margin-top: 10px;
}

.conversion-ratio > span {
    padding: 10px;
    font-size: 18px;
    color: #007bff;
}


/* Styling for input fields */
.form-control-lg {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.form-control-lg:focus {
    border-color: #007bff;
}

/* Styling for dropdowns */
.from-to-select-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.from-to-select-container > * {
    margin-left: 20px; /* Adjust the value as needed */
}

select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
}

/* Styling for conversion result */
p {
    margin-top: 10px;
    font-size: 18px;
    color: #007bff;
}

/* Loading indicator style */
.loading {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #999;
}

.conversion-result {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

/* Styling for the switch button */
.switch-button-container {
    display: flex;
    justify-content: center; /* Center-align content horizontally */
    margin: 20px;
}

.switch-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.switch-button:hover {
    background-color: #0056b3;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
    .container-fluid {
        padding: 10px;
    }
}
